.form-card-login{
    text-align: center;
    box-shadow: 0 0 10px 2px;
    height: 300px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 20px;
    margin-top: 70px;
    border-radius: 10px;
}
.login-btn{
    height: 40px;
  
    width: 150px;
    background-color: black;
    font-size: 22px;
    color: white;
    border-radius: 10px;
}
.login-card{
    position: relative;

}
.signup-btn1{
   
    text-decoration: none;
    font-size: 23px;
    color: black;

}
